.app-header {
    align-items: flex-end;
    color:blueviolet;
    margin: 10px;


}

.app-header h1 {
    flex-grow: 1;
    /* color: red; */

}

.app-header h2 {
    font-size: 1.2rem;
    color: black
}
